form{
    border: 4px solid beige;
    background-position: center;
    font-family: sans-serif;
}

input[type=text]{
    text-align: center;
    column-span: 2;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid black;
}
input[type=password]{
    text-align: center;
    column-span: 2;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid black; 
}
.container{
    background-color: azure;
    padding : 14px;

}
.logo{
    border-radius: 10%;
    
}